@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap"); */
@import "tailwindcss";

:root {
  --font-sans: "Lexend Deca", sans-serif !important;
  /* --font-sans: "Syne", sans-serif !important; */
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: normal;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

button {
  outline: 0 !important;
  box-shadow: none !important;
}

.virtualized-list > div[role="list"]::-webkit-scrollbar {
  width: 4px;
}
.virtualized-list > div[role="list"]::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.virtualized-list > div[role="list"]::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
.virtualized-list:hover > div[role="list"]::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}
.virtualized-list:hover > div[role="list"]::-webkit-scrollbar-thumb {
  background-color: #99a1af;
}

/* .note-item .note-actions {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.note-item:hover .note-actions {
  opacity: 1;
  visibility: visible;
} */
